<%#=partials are written with _ in starting%>

<h1> HR-mitra </h1>

<%= link_to 'about us', about_path, target: '_blank',style: 'color:red;'%>
</br>
<%= link_to 'contact us', contact_path, target: '_blank',style: 'color:green;'%>
</br>
<%= link_to 'privacy policy', privacy_path, target: '_blank',style: 'color:blue;'%>
</br>
<%= link_to 'terms', terms_path, target: '_blank',style: 'color:purple;'%>
