<h1><%=@title_text%></h1>

<p><%=@subtitle_text%></p>

<%#= link_to 'about us', controller: :pages, action: :about_us %>
<%#= link_to 'about us', about_path%>
<%#= link_to nil, about_path%>

<%= render 'shared/links'%>